.page-header
  %h1
    Profiles
    %small= "People involved with #{default_convention_name}"
    .btn-group(class='pull-right')
      = link_to add_link_text("New Profile"), session_filter(new_profile_path), {class:'btn'}
      = link_to add_link_text("New Party"), "#", {class:'btn'}

.row-fluid
  .span4
    %h2 Departments
    %ul
    - roles = Role.all.collect{|role| role.department}.reject!{|s| s.empty?}
    - if roles
      - roles.each do |department|
        %li= link_to department, "/roles/#{h(department)}/profiles"

  .span8
    %h2 All Profiles
    = table(@profiles,["Name"]) do |profile,klass|
      %tr(class=klass)
        %td= link_to profile.name, profile
