.page-header
  %h1
    Profiles
    %small= "People involved with #{default_convention_name}"
    .btn-group(class='pull-right')
      = link_to "<i class='icon-plus'></i> New Profile".html_safe, session_filter(new_profile_path), {class:'btn'}
      = link_to "<i class='icon-plus'></i> New Party".html_safe, "#", {class:'btn'}

= table(@profiles,["Name"]) do |profile,klass|
  %tr(class=klass)
    %td= link_to profile.name, profile