= semantic_form_for @space do |f|
  = f.inputs do
    = f.input :name
    = f.input :venue_designated_name
    = f.input :parent_id, :as => :select, :collection => Space.all
    = f.input :conventions, :as => :check_boxes
  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link