%h1#space_name
  = @space.name
  .model_tools
    = link_to image_tag("icons/pencil.png"), edit_space_path(@space)
    = link_to image_tag("icons/cross.png"), @space, :method => :delete, :confirm => "Are you sure you want to delete #{@space.name}?"

.section
  = space_breadcrumbs(@space)

.section
  %h2 Type
  = @space.space_type

.section
  - if @space.children.count > 0
    Contained Spaces:
    = @space.children.collect {|child| link_to child.name, child}.join(", ").html_safe