.page-header
  %h1
    = best_in_place @space, :name
    = render :partial => 'shared/model_tools', :locals => {model: @space, name: @space.name}

= space_breadcrumbs(@space)
- if @space.children.count > 0
  Contained Spaces:
  = @space.children.collect {|child| link_to child.name, child}.join(", ").html_safe

%h2 Type
= best_in_place @space, :space_type, :type => :select, :collection => [['room','room'],['building','building'],['area','area'],['floor','floor']]

%h2 Occupancy
= "Seated: #{best_in_place @space, :occupancy_seated}".html_safe
<br/>
= "Standing: #{best_in_place @space, :occupancy_standing}".html_safe