= semantic_form_for [@convention, @period] do |form|
  = form.inputs do
    = form.input :convention_id, :as => 'hidden'
    = form.input :name

  = form.semantic_fields_for :time_span do |time_span|
    = render :partial => 'time_spans/fields', :locals => {:form => time_span, :time_span => time_span.object}

  = form.actions do
    = form.action :submit, :as => :button
    = form.action :cancel, :as => :link