.page-header
  %h1
    Jobs
    %small= "Listing of jobs for #{default_convention_name}"
    = link_to add_link_text("New Job"), session_filter(new_job_path), {class:'btn pull-right'}

= table(@jobs,["Name"]) do |job,klass|
  %tr(class=klass)
    %td= link_to job.name, job
