= semantic_form_for @user do |f|
  = f.inputs do
    = f.input :username
    = f.input :profile
    = f.input :admin
  =f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link