= semantic_form_for [@convention, @schedule] do |f|
  = f.inputs do
    = f.input :name

  = f.inputs :title => "Time Span" do
    = f.semantic_fields_for :time_span do |time_span|
      = time_span.input :start_time, :as => :string
      = time_span.input :end_time, :as => :string
      = time_span.input :confidence, :as => :hidden, :input_html => {:value => "firm"}

  = f.inputs :title => "Reservables" do
    = f.input :maps, :as => :check_boxes
    = f.input :profiles, :as => :check_boxes

  = f.actions do
    = f.action :submit
    = f.action :cancel