= semantic_form_for [@convention, @schedule] do |f|
  = f.inputs do
    = f.input :name
    = f.input :public, :as => :radio

  = f.inputs :title => "Time Span" do
    = f.semantic_fields_for :time_span do |time_span|
      = render :partial => 'time_spans/fields', :locals => {:form => time_span, :time_span => time_span.object}

  = f.inputs :title => "Reservables" do
    = f.input :spaces, :as => :check_boxes
    = f.input :profiles, :as => :check_boxes

  = f.actions do
    = f.action :submit
    = f.action :cancel