%table.table(class="table-striped")
  %thead
    %th
    %th Starting
    %th Ending
  %tbody
  - @schedule.critical_times.each do |time|
    %tr
      %td= l(time)
      %td
        %ul
          - @schedule.happenings_at(time,:starts).each do |reservation|
            %li
              = link_to reservation.reservee.name, reservation.reservee
              in
              = link_to reservation.reservable.name, reservation.reservable
      %td
        %ul
          - @schedule.happenings_at(time,:ends).each do |reservation|
            %li
              = link_to reservation.reservee.name, reservation.reservee
              in
              = link_to reservation.reservable.name, reservation.reservable