.page-header
  %h1
    = "#{@schedule.name}"
    = render :partial => 'shared/model_tools', :locals => {model: @schedule, name: @schedule.name}

%ul.nav(class="nav-tabs")
  %li.active= link_to "Summary", "#summary", :html_options => {"data-toggle" => "tab"}
  %li= link_to "Rundown", "#rundown", :html_options => {"data-toggle" => "tab"}
  %li= link_to "Timeline", "#timeline", :html_options => {"data-toggle" => "tab"}

.tab-content
  #summary.tab-pane(class="active")
    = render :partial => 'schedules/rundown_chart', :locals => {:schedule => @schedule}

  #rundown.tab-pane
    = render "rundown"

  #timeline.tab-pane
    = render "timeline"