- hour_width = 100;
- reservation_border = 1;
- matrix_width = hour_width*@hours.size

#schedule
  #locations
    .header
    - @spaces.each do |space|
      .location{:class=>cycle("even","odd")}
        .name= link_to space.name, space
  #matrix
    #matrix_expander(style="width: #{matrix_width}px")
      .header
        - @hours.each do |hour|
          .hour= hour.strftime("%l:%M %p")
      - @spaces.each do |space|
        .track{:class=>cycle("event","odd")}
          - reservations = Reservation.where("reservable_type = 'Space' and reservable_id = ?", space.id)
          - reservations.keep_if {|r| r.event.time_span.end_time > @start_time && r.event.time_span.start_time < @end_time}

          - reservations.each do |r|
            - width = reservation_width(r,hour_width,reservation_border)
            - left = reservation_left(r,@start_time,hour_width,reservation_border)
            %a.reservation(href="#{event_path(r.event)}" style="width: #{width}px; left: #{left}px;")
              .name= r.event.name