.page-header
  %h1= "#{@schedule.name}"

%ul.nav(class="nav-tabs")
  %li.active= link_to "Rundown", "#rundown", :html_options => {"data-toggle" => "tab"}
  %li= link_to "Timeline", "#timeline", :html_options => {"data-toggle" => "tab"}

.tab-content
  #rundown.tab-pane(class="active")
    = render "rundown"

  #timeline.tab-pane
    = render "timeline"