= content_for :head do
  = javascript_include_tag "superfish"
  = javascript_include_tag "supersubs"
  = javascript_include_tag "jquery.hoverintent.minified"
  = stylesheet_link_tag "superfish"

%ul.sf-menu
  = render "shared/con_filter"
  %li
    = link_to 'Events', filtered_events_path
  %li
    = link_to 'Spaces', filtered_spaces_path
  %li
    %a Administration
    %ul
      %li
        = link_to 'Tags', tag_groups_path

      %li
        = link_to 'Conventions', conventions_path
