= content_for :head do
  = javascript_include_tag "superfish"
  = javascript_include_tag "supersubs"
  = javascript_include_tag "jquery.hoverintent.minified"
  = stylesheet_link_tag "superfish"

%ul.sf-menu
  %li
    %a Events
    %ul
      %li= link_to 'Listing', filtered_events_path
  %li
    %a Administration
    %ul
      %li
        %a= link_to 'Tags', tag_groups_path

      %li
        %a= link_to 'Conventions', conventions_path
