.page-header
  %h1
    Events
    %small= "Directory of events for #{default_convention_name}"
    - if can? :create, Event
      = link_to add_link_text("New Event"), session_filter(new_event_path), {class:'btn pull-right'}

= table(@events,["Name","Schedule","Rules"]) do |event,klass|
  %tr(class=klass)
    %td= link_to event.name, event
    %td
      - if event.time_span
        = condensed_time_span(event.time_span)
        -else
        Not scheduled
    %td= rules_summary(event)