%h1 Events Directory

= link_to "<i class='icon-plus'></i> New Event".html_safe, session_filter(new_event_path), {class:'btn'}

= table(@events,["Name","Schedule","Rules"]) do |event,klass|
  %tr(class=klass)
    %td= link_to event.name, event
    %td
      - if event.time_span
        = condensed_time_span(event.time_span)
        -else
        Not scheduled
    %td= rules_summary(event)