.actions
  = link_to "Edit", edit_event_path(@event)
  = link_to "Delete", @event, :method => :delete, :confirm => "Are you sure you want to delete #{@event.name}?"

%h1= @event.name

.section
  %h2 Description
  = @event.description

.section
  %h2 Scheduling
  - if @event.time_span
    = render :partial => "time_spans/inline", :locals => {:event => @event,
                                                          :time_span => @event.time_span}
    - else
    This event has not been scheduled.
    = link_to "Schedule this event", new_event_time_span_path(@event)

.section
  %h2 Rules
  = "#{@event.rule_assignments.count} rules assigned"

  %ul
    - @event.rule_assignments.each do |rule_assignment|
      %li
        = rule_assignment.rule.class
        = form_tag "/rules/#{rule_assignment.rule.class}/#{rule_assignment.rule.id}", :method => :delete do
          = submit_tag 'Delete'

  = form_tag event_create_rule_path(@event), :method => :post do |f|
    Create a BeScheduledRule
    = hidden_field_tag 'rule_type', 'BeScheduledRule'
    = submit_tag 'Create'