.page-header
  %h1
    = best_in_place @event, :name
    = render :partial => 'shared/model_tools', :locals => {model: @event, name: @event.name}

.row-fluid
  .span4
    %h2 Description
    = best_in_place @event, :description, :type => :textarea, :nil => "<span class=\"nil\">#{t(:please_set_description)}</span>"

  .span4
    %h2 Scheduling
    - if @event.time_span
      = render :partial => "time_spans/inline", :locals => {:event => @event,
                                                            :time_span => @event.time_span}
      - else
      This event has not been scheduled.
      = link_to "Schedule this event", new_event_time_span_path(@event)

  .span4
    %h2 Reservations
    = render :partial => 'reservations/listing', :locals => {reservee: @event}
    = link_to "Create new reservation", new_event_reservation_path(@event), :class=>'btn'

.section
  %h2 Rules

  = render :partial => "rules/rules_table", :locals => {:rules => @event.rules}
  = link_to "Add rule", event_rules_new_path(@event), :class => "btn"

.section
  %h2 Comments
  = render :partial => 'comments/listing', :locals => {:commentable => @event}