.actions
  = link_to "Edit", edit_event_path(@event)
  = link_to "Delete", @event, :method => :delete, :confirm => "Are you sure you want to delete #{@event.name}?"

%h1= @event.name

.section
  %h2 Description
  = @event.description

.section
  %h2 Scheduling
  - if @event.time_span
    = render :partial => "time_spans/inline", :locals => {:event => @event,
                                                          :time_span => @event.time_span}
    - else
    This event has not been scheduled.
    = link_to "Schedule this event", new_event_time_span_path(@event)

.section
  %h2 Rules

  %ul
    - @event.rules.each do |rule|
      %li
        = render :partial => "rules/rule_in_list", :locals => {:rule => rule}

  = form_tag event_create_rule_path(@event), :method => :post do |f|
    Create a BeScheduledRule
    = hidden_field_tag 'rule_type', 'BeScheduledRule'
    = submit_tag 'Create'

  = form_tag event_create_rule_path(@event), :method => :post do |f|
    Create an IsRelatedRule
    = hidden_field_tag 'rule_type', 'IsRelatedRule'
    = select_tag 'relation', options_for_select(['before','after'])
    = select_tag 'related_event_id', options_from_collection_for_select(Event.all, "id", "name")
    = submit_tag 'Create'

  = form_tag event_create_rule_path(@event), :method => :post do |f|
    Create a DurationRule
    = hidden_field_tag 'rule_type', 'DurationRule'
    At least
    = text_field_tag 'min_duration_str'
    At most
    = text_field_tag 'max_duration_str'
    = submit_tag 'Create'