%ul.unstyled
  - reservee.reservations.each do |reservation|
    %li
      = "<span class='label'>#{reservation.reservable.class}</span>".html_safe
      = "#{link_to reservation.reservable.name,reservation.reservable}".html_safe
      = "(during event)" if reservation.inherit_time_span
      = render :partial=>'time_spans/inline', :locals=>{:time_span => reservation.time_span, :event => reservee, :text_only => true} unless reservation.inherit_time_span || !reservation.scheduled?
      = link_to "<i class='icon-remove'></i>".html_safe, [reservee, reservation], :method=>:delete, :confirm=>"Are you sure?"