- content_for :title do
  = "Add reservation to #{@event.name}"

= semantic_form_for [@event, @reservation] do |form|
  = form.inputs do
    = form.input :reservable, :as => :select, :collection => Space.all

  = form.actions do
    = form.submit
    = link_to "Cancel", :back, :class => "back"