%h1= "Add reservation to #{@event.name}"

= semantic_form_for [@event, @reservation] do |form|
  = form.inputs do
    = form.input :reservable, :as => :select, :collection => reservables_for_select

  = form.actions do
    = form.action :submit, :as => :button
    = form.action :cancel, :as => :link