= semantic_form_for [@event, @time_span], :url => event_time_span_path(@event) do |f|
  = f.inputs do
    = render :partial => 'time_spans/fields', :locals => {:form => f, :time_span => @time_span}

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link