.page-header
  %h1= "Add a rule to #{@event.name}"

Design a rule from one of the following types.
<br/>
= link_to "Cancel", @event

.page-header
  %h2 Scheduling Rules

%h3 Create a BeScheduledRule
.row-fluid
  .span3
    = t 'rule.be_scheduled_rule.description'
  .span9
    = form_tag event_rules_create_path(@event), :method => :post do |f|
      = hidden_field_tag 'rule_type', 'BeScheduledRule'
      = submit_tag 'Create', :class=>'btn'

%h3 Create an IsRelatedRule
.row-fluid
  .span3
    = t 'rule.is_related_rule.description'
  .span9
    = form_tag event_rules_create_path(@event), :method => :post do |f|
      = hidden_field_tag 'rule_type', 'IsRelatedRule'
      = select_tag 'relation', options_for_select(['before','after'])
      <br/>
      = select_tag 'related_event_id', options_from_collection_for_select(Event.all, "id", "name")
      <br/>
      = submit_tag 'Create', :class=>'btn'

%h3 Create a DurationRule
.row-fluid
  .span3
    = t 'rule.duration_rule.description'
  .span9
    = form_tag event_rules_create_path(@event), :method => :post do |f|
      = hidden_field_tag 'rule_type', 'DurationRule'
      At least
      = text_field_tag 'min_duration_str'
      <br/>
      At most
      = text_field_tag 'max_duration_str'
      <br/>
      = submit_tag 'Create', :class=>'btn'