.page-header
  %h1= "#{@convention.name} Settings"

.page-header
  %h2 Periods

%ul.unstyled
  - @convention.periods.each do |period|
    %li
      = period.name
      = special_period_labels_for period
      = render :partial=>'time_spans/inline', :locals=>{:time_span => period.time_span, :text_only => true}
      = link_to edit_link_text, edit_convention_period_path(@convention, period)
      = link_to delete_link_text, [@convention, period], :method => :delete, :confirm => "Are you sure you want to delete #{period.name}?"

= link_to "Create new period", new_convention_period_path(@convention), :class=>'btn'

.page-header
  %h2 Convention Authorizations
%p= t("convention_authorization.description")
%p= t("formtastic.hints.auth_requirement.requirement")

%table.table(class='auth_requirements')
  %thead
    %tr
      %th(width="200px")= "Convention Actions"
      %th(width="*") Authorized Roles
      %th(width="200px")
  %tbody
    - @convention.auth_requirements.sort_by(&:created_at).each do |ar|
      %tr
        %td= ar.action
        %td= best_in_place [@convention, ar], :requirement, :nil => t("no_requirement_set")
        %td= link_to edit_link_text("edit"), edit_convention_auth_requirement_path(@convention,ar)
