.page-header
  %h1
    = @convention.name
    = render :partial => 'shared/model_tools', :locals => {model: @convention, name: @convention.name}

.row-fluid
  .span4
  .span4
  .span4
    %h2 Schedules
    %ul.unstyled
      - @convention.schedules.each do |schedule|
        %li
          = link_to schedule.name, [@convention, schedule]
          = link_to edit_link_text, edit_convention_schedule_path(@convention, schedule)
          = link_to delete_link_text, [@convention, schedule], :method => :delete, :confirm => "Are you sure you want to delete #{schedule.name}?"
    = link_to "Create new schedule", new_convention_schedule_path(@convention), :class=>'btn'