!!! 5
%html
  %head
    %title Connie
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    - if content_for? :head
      = yield :head

  %body
    #header
      #con_filter
        = render "shared/con_filter"
      .divider
      #nav
        = render "shared/nav"
    #content
      = yield
